.sapMPageHeader .sapMBarChild.sapMTitle {
  font-weight: bold !important;
}

.customListStyle .sapMObjLTitle {
  font-weight: bold !important;
}

.customListStyle .sapMObjLIcon {
  font-size: 1.7rem !important;
}

.boldFolderIcon .sapUiIcon {
  text-shadow:
    0.5px 0 0 currentColor,
    -0.5px 0 0 currentColor,
    0 0.5px 0 currentColor,
    0 -0.5px 0 currentColor;
}
